@import '../../../assets/styes/base';

.login-form {
    .icon-wrapper {
        position: absolute;
        top: -32px;
        left: calc(50% - 16px);

        .anticon {
            width: 64px !important;
            height: 64px;
            padding: 10px;
            @include rounded(50%);
            background-color: $clWhite;
            color: #f9a826;
            font-size: 30px;
            font-weight: bold;
            border: 2px solid $clWhite;
            @include quick-shadow();
        }
    }
    .card {
        width: 300px;
        height: 150px;
        padding-top: 32px;
        @include quick-shadow();
    }
    button {
        @include rounded(50%);
        @include quick-shadow();
        width: 150px;
        margin-top: 10px;
    }
}
